* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}